.github-ribbon {
  position: absolute;
  z-index: 9999;
  top: -35px;
  right: -114px;
  padding: 1px 0;
  transform-origin: top left;
  transform: rotate(45deg);
  /*background-color: #ea7600;*/
  background-color: #228AFB;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
}

.github-ribbon__link {
  display: inline-block;
  width: 250px;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 0.06em;
  text-shadow: 0 -1px #777;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  /*border-top: 1px dotted #ffc284;
  border-bottom: 1px dotted #ffa951;*/
  border-top: 1px dotted #9ECCFF;
  border-bottom: 1px dotted #9ECCFF;
}

.github-ribbon__link:link {
    color: #fff;
}

.github-ribbon__link:visited {
    color: #fff;
}

.github-ribbon__link:hover {
    color: #fff;
}

.github-ribbon__link:active {
    color: #fff;
}
