.intro div {
    display: inline-block;
}

@media (max-width: 600px) {
    .intro .intro-code {
        display: none !important;
    }
}

.intro .intro-code {
    vertical-align: middle;
    text-align: left;
    margin-left: 69px;
}

.intro .intro-code pre {
    padding: 0px;
    border: 0px;
}

.intro .intro-code code {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
