---
layout: default
title: Easily create elegant and scalable REST APIs
description: A very simple and elegant domain specific language / framework in Java that helps you to create amazing REST APIs.
---
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro">
                    <img class="img-responsive" src="assets/img/yeti.png" alt="" style="display: inline-block;">
                    <div class="intro-code" style="display: inline-block;">
                        <pre class="code"><code class="shell">$ mvn archetype:generate \
    -DarchetypeGroupId=io.yawp \
    -DarchetypeArtifactId=yawp \
    -DarchetypeVersion=LATEST
</code></pre>
                    </div>
                </div>
                <div class="intro-text">
                    <span class="name">YAWP!</span>
                    <div class="star">
                        <div class="star-left"></div>
                        <div class="star-right"></div>
                    </div>
                    <!-- <hr class="star-light" /> -->
                    <span class="skills">Easily create elegant and scalable REST APIs</span>
                </div>
                <div class="github-buttons">
                    <div class="github-button">
                        <a class="github-button" href="https://github.com/feroult/yawp" data-icon="octicon-eye" data-style="mega" data-count-href="/feroult/yawp/watchers" data-count-api="/repos/feroult/yawp#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch feroult/yawp on GitHub">Watch</a>                   
                    </div>
                    <div class="github-button">
                        <a class="github-button" href="https://github.com/feroult/yawp" data-icon="octicon-star" data-style="mega" data-count-href="/feroult/yawp/stargazers" data-count-api="/repos/feroult/yawp#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star feroult/yawp on GitHub">Star</a>
                    </div>
<!--
                    <div class="github-button">
                        <a class="github-button" href="https://github.com/feroult/yawp/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/feroult/yawp/network" data-count-api="/repos/feroult/yawp#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork feroult/yawp on GitHub">Fork</a>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Features Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Features</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <div class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/features/easy.png" class="img-responsive" alt="">
                </div>
                <div class="feature"><h3>Crafted for APIs</h3>A very simple and elegant domain specific language / framework in Java that helps you to create amazing APIs.</div>
            </div>
            <div class="col-sm-4 portfolio-item">
                <div class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/features/scalable.png" class="img-responsive" alt="">
                </div>
                <div class="feature"><h3>Auto Scaling</h3>It natively supports the Google Appengine Platform. Build your apps, scale automatically.</div>
            </div>
            <div class="col-sm-4 portfolio-item">
                <div class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/features/portable.png" class="img-responsive" alt="">
                </div>
                <div class="feature"><h3>Platform Free</h3>If scalability is not an issue or you'd rather do-it-yourself, move to any platform with the PostgreSQL driver.</div>        
            </div>
        </div>
        <div class="row zebra" markdown="1">                    
            {% include feature.html src="features/models.html" title="Models" icon="cubes"  %}                    
            {% include feature.html src="features/actions.html" title="Actions" icon="flash"  %}   
            {% include feature.html src="features/shields.html" title="Shields" icon="shield" %}                                             
        </div>
        <div class="row" markdown="1">         
            {% include feature.html src="features/pipes.html" title="Pipes" icon="exchange" %}                      
            {% include feature.html src="features/transformers.html" title="Transformers" icon="eye" %}           
            {% include feature.html src="features/hooks.html" title="Hooks" icon="level-down" %}                    
        </div>        
    </div>
</section>

<!-- Kickstart Section -->
<section class="success" id="kickstart">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Kickstart</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row space">
            <div class="col-sm-6 step-text">
                <p>Bootstrap your project</p>
            </div>
            <div class="col-sm-6"><pre class="code"><code class="shell">$ mvn archetype:generate \
    -DarchetypeGroupId=io.yawp \
    -DarchetypeArtifactId=yawp \
    -DarchetypeVersion=LATEST
</code></pre>
            </div>
        </div>
        <div class="row space">
            <div class="col-sm-6 step-text">
                <p>Start the development server</p>
            </div>
            <div class="col-sm-6"><pre class="code"><code class="shell">$ mvn yawp:devserver</code></pre>
            </div>
        </div>
        <div class="row space">
            <div class="col-sm-6 col-sm-offset-0 step-text">
                <p>Annotate your models</p>
            </div>
            <div class="col-sm-6"><pre class="code"><code class="java">@Endpoint(path = "/people")
public class Person {
    @Id
    IdRef&lt;Person&gt; id;
    String name;
}</code></pre>
            </div>
        </div>
        <div class="row space">
            <div class="col-sm-6 col-sm-offset-0 step-text">
                <p>Try with javascript</p>
            </div>
            <div class="col-sm-6"><pre class="code"><code class="java">yawp('/people')
    .create({ name: 'Janes' })
    .done(function(person) { })</code></pre>
            </div>
        </div>
        <div class="row space">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/guides" class="btn btn-lg btn-outline">
                    <i class="fa fa-book"></i>&nbsp;&nbsp;Complete Guides
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Community Section -->
<section id="community">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Community</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row space">
            <div class="col-sm-12 type">
                <p><i class="fa fa-comment-o"></i>&nbsp;&nbsp;IRC</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 link">
                <p><strong>#YAWP</strong> at <a href="https://freenode.net" target="_blank">freenode.net</a>
                </p>
            </div>
        </div>
        <div class="row space contributors">
            <div class="col-sm-12 type">
                <p><i class="fa fa-group"></i>&nbsp;&nbsp;Contributors</p>
            </div>
        </div>
        <div class="row contributors-images">
            <div class="col-sm-12 link">
                <a href="https://github.com/karreiro" target="_blank">
                    <img src="https://avatars3.githubusercontent.com/u/1079279?v=3&s=120" />
                </a>
                <a href="https://github.com/luanpotter" target="_blank">
                    <img src="https://avatars2.githubusercontent.com/u/882703?v=3&s=120" />
                </a>
                <a href="https://github.com/danilodeLuca    " target="_blank">
                    <img src="https://avatars2.githubusercontent.com/u/4284504?v=3&s=120" />
                </a>
                <a href="https://github.com/feroult" target="_blank">
                    <img src="https://avatars0.githubusercontent.com/u/455623?v=3&s=120" />
                </a>
                <a href="https://github.com/paulovmr" target="_blank">
                    <img src="https://avatars0.githubusercontent.com/u/832830?v=3&s=120" />
                </a>
                <a href="https://github.com/wapmesquita" target="_blank">
                    <img src="https://avatars1.githubusercontent.com/u/1653466?v=3&s=120" />
                </a>
                <a href="https://github.com/rsolci" target="_blank">
                    <img width="70" src="http://www.gravatar.com/avatar/f24446d36d020fec9093e6a8e12336a6" />
                </a>
                <a href="https://github.com/rtesini" target="_blank">
                    <img src="https://avatars0.githubusercontent.com/u/1107693?v=3&s=120" />
                </a>
            </div>
        </div>
    </div>
</section>
