#accordion {
    margin-top: 135px;
    margin-bottom: 100px;
    width: 220px;
    margin-left: 10px;
    float: left;
}

.guide {
    margin-top: 140px;
    margin-left: 270px;
}

.guide h1,
.guide h2,
.guide h3,
.guide h4,
.guide h5,
.guide h6 {
    text-transform: none;
}

.guide h1 {
    padding-bottom: 10px;
    margin-bottom: 22px;
    border-bottom: 1px solid #eee;
}

.guide h3 {
    margin-top: 40px;
    margin-bottom: 15px;
}

.guide .hljs {
    background-color: #FBF9FF;
}

.guide {
    padding-bottom: 45px;
}

.guide ul {
    margin-bottom: 20px;
}

.guide li {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.guide .platforms {
/*
    width: 50%;
    margin-left: auto;
    margin-right: auto;
*/
    margin-top: 30px;
    margin-bottom: 30px;
}

.guide .platforms img {
    height: 120px;
    margin-right: 30px;
}


@media (max-width: 768px) {
    #accordion {
        margin-top: 85px;
    }
    .guide {
        margin-top: 80px;
    }
}

.guide pre {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

#accordion a:hover,
#accordion a:focus {
    text-decoration: none;
}

#accordion ul {
    padding: 0;
    margin: 0;
}

#accordion li {
    list-style: none;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
}

#accordion a {
    color: #2c3e50;
    /*font-weight: bold;*/
}

#accordion h4 {
    font-weight: normal;
    /*color: #888;*/
}

#accordion li:hover {
    background-color: #E0ECFF;
}

#accordion li.active {
     background-color: #E0ECFF;   
}

#accordion li:hover a {
    /*color: #18bc9c;*/
}

.panel-heading:hover {
    /*color: #18bc9c;*/
    
    background-color: #E0ECFF;
}

.sidebar {
    border: 1px solid #aaa;
    border-bottom: 0;
}

.panel-collapse.collapse.in .panel-body,
.panel-collapse.collapsing .panel-body {
    border-bottom: 1px solid #aaa;
}

.panel-heading {
    color: #2c3e50;
    background-color: #eee;
    border-radius: 0px;
}

.panel-group .panel-heading {
    border: 0;
    border-bottom: 1px solid #aaa;
}

.panel-default {
    border: 0;
}

.panel-group .panel+.panel {
    margin-top: 0px;
}

.panel-body {
    padding: 0px;
    background-color: #FBF9FF;
    padding-top: 6px;
    padding-bottom: 6px;
}

.panel {
    margin: 0;
    padding: 0;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}

.guide table {
    background-color: #FBF9FF;
    margin-bottom: 20px;
    margin-top: 20px;
}

.guide table th {
    background-color: #eee;
}

.guide table th, .guide table td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #aaa;
}