--- 
layout: default
sections:
    header: |
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/highlight.js/8.9.1/styles/atelier-cave.light.min.css"> 
    scripts: |
        <script src="/assets/js/guides.js"></script>        
---
<div class="container">
    <div id="accordion" class="panel-group">
        <div class="sidebar">
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#getting-started">
                    <div class="panel-heading">
                        <h4 class="panel-title">Recent Posts</h4>
                    </div>
                </a>

                <div id="getting-started" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            {% for post in site.posts %}
                            <a href="{{ post.url }}">
                                <li>
                                    {{ post.title }}
                                </li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="guide">
        {% if page.path != 'blog/index.md' %}
            <h1>{{ page.title }}</h1>
        {% endif %}
        
        {{ content }}

        {% if page.path != 'blog/index.md' %}
            <br />
            {% include disqus.html %}
        {% endif %}
    </div>                
</div>