---
layout: default
sections:
    header: |
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/highlight.js/8.9.1/styles/atelier-cave.light.min.css">
    scripts: |
        <script src="/assets/js/guides.js"></script>
        
---
<div class="container">
    <div id="accordion" class="panel-group">
        <div class="sidebar">
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#getting-started">
                    <div class="panel-heading">
                        <h4 class="panel-title">Getting Started</h4>
                    </div>
                </a>

                <div id="getting-started" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <a href="/guides/getting-started/installing-yawp">
                                <li class="getting-started_installing-yawp">
                                    Installing YAWP!
                                </li>
                            </a>
                            <a href="/guides/getting-started/your-first-api">
                                <li class="getting-started_your-first-api">
                                    Your first API
                                </li>
                            </a>
                            <a href="/guides/getting-started/core-concepts">
                                <li class="getting-started_core-concepts">
                                    Core concepts
                                </li>
                            </a>
                            <a href="/guides/getting-started/supported-platforms">
                                <li class="getting-started_supported-platforms">
                                    Supported platforms
                                </li>
                            </a>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#tutorials">
                    <div class="panel-heading">
                        <h4 class="panel-title">Tutorials</h4>
                    </div>
                </a>

                <div id="tutorials" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <a href="/guides/tutorials/todo-list-app">
                                <li class="tutorials_todo-list-app">
                                    To-Do List App
                                </li>
                            </a>      
                            <a href="/guides/tutorials/scaffolding">
                                <li class="tutorials_scaffolding">
                                    Scaffolding
                                </li>
                            </a>                                                        
                            <a href="/guides/tutorials/the-javascript-client">
                                <li class="tutorials_the-javascript-client">
                                    The Javascript Client
                                </li>
                            </a>                                                                                    
                            <li>
                                <a href="todolist">Testing your APIs</a>
                            </li>
                            <li>
                                <a href="todolist">Relationships</a>
                            </li>                            
                            <li>
                                <a href="todolist">Working with ancestors</a>
                            </li>                              
                            <li>
                                <a href="todolist">How to use transactions</a>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#api">
                    <div class="panel-heading">
                        <h4 class="panel-title">API</h4>
                    </div>
                </a>

                <div id="api" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <a href="/guides/api/models">
                                <li class="api_models">
                                    Models
                                </li>
                            </a>      
                            <li>
                                <a href="kickstart">Repository Actions</a>
                            </li>
                            <li>
                                <a href="todolist">Custom Actions</a>
                            </li>
                            <li>
                                <a href="todolist">Query</a>
                            </li>
                            <li>
                                <a href="todolist">Transformers</a>
                            </li>
                            <a href="/guides/api/shields">
                                <li class="api_shields">
                                    Shields
                                </li>
                            </a>    
                            <li>
                                <a href="todolist">Hooks</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="guide">
        {{ content }}
    </div>
</div>